body {
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #fbfbfc;
  color: #111827;
}

button {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  background: white;
  cursor: pointer;
}

input {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 6px 8px;
}
